@import 'tailwindcss';

:root {
    --main-navy: #3d405b;
    --main-green: #81b29a;
    --main-orange: #e07a5f;
    --main-yellow: #f2cc8f;
    --main-cream: #f4f1de;
    --border-radius: 5px;
}

@theme inline {
    --color-background: var(--main-navy);
    --color-foreground: var(--main-green);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--main-navy);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
